<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>Cv-Potfolio</title>
	</head>
	<header>
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">>
			<div class="container-fluid">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link active" href="#">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section2">Experience</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section3">Projet</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#section4">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<body>
		<main class="container-fluid p-0 m-0">
			<section id="section1" class="row mx-auto ">
				<h1 class="m-0 p-0">CV-PORTFOLIO</h1>
				<div id="carouselExampleCaptions" class="carousel slide m-0 p-0 d-md-block d-sm-none d-none" data-bs-ride="false">
					<div class="carousel-indicators p-0 m-0">
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="btn-info active " aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" class="btn-info" aria-label="Slide 2"></button>
					</div>

					<div class="carousel-inner">
						<div class="carousel-item active" id="center-carou">
							<img src="/images/fond1.jpg" class="d-block w-100" alt="...">
							<div class="bio carousel-caption d-none d-md-block h-100">
								<div id="bord" class="col-7">
									<article class="col-12 text-center">
										<h3 class="text-center mt-2 mb-2">BIO</h3>
										<p class="p-2">Bonjour, je suis Vincent Gotta, né à TOULON le 21/07/95
										 Professionnel, dynamique et créatif, sont les qualités qui me définissent.
										Après 6 ans d’expérience dans le secteur de la Sécutité Privée, je suis actuellement à la recherche de nouveaux défis à relever.
										Au cours de mon apprentissage au sein de l'école RI7 sur Aubagne, j'ai pu acquérir des compétences en HTML,CSS,JAVASCRIPT et PHP.
										Je souhaiterai mettre à profit mon experience acquise au cours de ma formation de Concepteur/Développeur web au service d’une entreprise.
										</p>
									</article>
								</div>
							</div>
						</div>

						<div class="carousel-item" id="center-carou">
							<img src="/images/fond2.jpg" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<div id="bord" class="col-12">
									<article class="col-12 text-center">
										<div class="row m-2 ">
											<div class="col-4 mt-4 ">
												<h3 class="m-3 text-center">AGE</h3>
												<p>27ans</p>
											</div>
											<div class="col-4 mt-4">
												<h3 class="m-3 text-center">LANGUE</h3>
												<li>Français</li>
												<li>Anglais Technique</li>
											</div>
											<div class="col-4 mt-4">
												<h3 class="m-3 text-center">PORTABLE</h3>
												<p>06.35.34.48.48</p>
											</div>
										</div>
										<div class="row m-2 ">

											<div class="col-4 mt-4">
												<h3 class="m-3 text-center">ADRESSE</h3>
												<p>310 avenue saint-Roch
													<br>
													83790 PIGNANS</p>
											</div>
											<div class="col-4 mt-4">
												<h3 class="m-3 text-center">PERMIS</h3>
												<p>permis B</p>
											</div>
											<div class="col-4 mt-4">
												<h3 class="m-3 text-center">EMAIL</h3>
												<p>gottavincent@gmail.com</p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>

						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
							<span class="visually-hidden">Previous</span>
							<span class="btn-carou" aria-hidden="true"><img src="/images/fleche2.png" alt=""></span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
							<span class="visually-hidden">Next</span>
							<span class="btn-carou " aria-hidden="true"><img src="/images/fleche.png" alt=""></span>
						</button>
					</div>
				</div>


				{########## RESPONSIV SECTION 1 ##########}

				<div class=" d-md-none d-sm-block">
					<div id="w-text" class="col-12 mx-auto">
						<h3 class="text-center mt-4 mb-4">BIO</h3>
						<p class="text-light text-center ps-5 pe-5">Bonjour, je suis Vincent Gotta, né à TOULON le 21/07/95
						Professionnel, dynamique et créatif, sont les qualités qui me définissent.
						Après 6 ans d’expériences dans le secteur de la Sécutité Privé, je suis actuellement à la recherche de nouveaux défis à relever.
						Au cours de mon apprentissage au sein de l'école RI7 sur Aubagne, j'ai pu acquérir des compétences en HTML,CSS,JAVASCRIPT et PHP.
						Je souhaiterai mettre à profit mon experience acquise au cours de ma formation de Concepteur/Développeur web au service d’une entreprise.
						 développer mes compétences.</p>
					</div>
					<div id="bord" class="col-12">
						<article class="col-12 text-center">
							<div class="col m-2 ">
								<div class="col-12 mt-4 ">
									<h3 class="m-3 text-center">AGE</h3>
									<p>27ans</p>
								</div>
								<div class="col-12 mt-4">
									<h3 class="m-3 text-center">LANGUE</h3>
									<li>Français</li>
									<li>Anglais Technique</li>
								</div>
								<div class="col-12 mt-4">
									<h3 class="m-3 text-center">PORTABLE</h3>
									<p>06.35.34.48.48</p>
								</div>
							</div>
							<div class="col m-2 ">
								<div class="col-12 mt-4">
									<h3 class="m-3 text-center">ADRESSE</h3>
									<p>310 avenue saint-Roch
										<br>
										83790 PIGNANS</p>
								</div>
								<div class="col-12 mt-4">
									<h3 class="m-3 text-center">PERMIS</h3>
									<p>permis B</p>
								</div>
								<div class="col-12 mt-4">
									<h3 class="m-3 text-center">EMAIL</h3>
									<p>gottavincent@gmail.com</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</section>

			{########### Section TIMELINE ##########}

			<section id="section2" class="container-fluid m-0 p-0">
				<h2 id="exp" class="text-center  pb-2 pt-3">EXPERIENCE</h2>
				<div id="bg_img" class="card opacity-50">
					<div class="container bootdey">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div
									class="card-body">
									<!-- Timeline start -->
									<div class="timeline">
										<div class="timeline-row">
											<div class="timeline-time">
												2021-2022
											</div>
											<div class="timeline-dot fb-bg"></div>
											<div class="timeline-content">
												<i class="fa fa-map-marker"></i>
												<h4>Concepteur développeur d'application</h4>
												<p>Apres cette formation intensive de 6 mois, J'ai pu apprendre les fondamentaux de la programmation et développer un socle technique solide. Au-delà de l’apprentissage des langages de programmation les plus recherchés du marché (HTML/CSS, JavaScript et PHP) J'ai pu concevoir et déployer des solutions logicielles qui répondent à des problématiques concrètes d’entreprise.</p>
												<div class="">
												</div>
											</div>
										</div>
										<div class="timeline-row">
											<div class="timeline-time">
												2019
											</div>
											<div class="timeline-dot green-one-bg"></div>
											<div class="timeline-content green-one">
												<i class="fa fa-warning"></i>
												<h4>SSIAP 1/ SSIAP 2
												</h4>
												<p>
													Agents de sécurité incendie Musée ile de porquerolles-chef d'equipe SSIAP 2
												</p>
												<div class="">
												</div>
											</div>
										</div>
										<div class="timeline-row">
											<div class="timeline-time">
												2016-2018
											</div>
											<div class="timeline-dot green-two-bg"></div>
											<div class="timeline-content green-two">
												<i class="fa fa-list"></i>
												<h4>SSIAP 1</h4>
												<p>Agent de sécurité incendie Musée</p>
												<div>
												</div>
											</div>
										</div>
										<div class="timeline-row">
											<div class="timeline-time">
												2015
											</div>
											<div class="timeline-dot green-three-bg"></div>
											<div class="timeline-content green-three">
												<i class="icon-directions"></i>
												<h4>SSIAP 1</h4>
												<p>
													Agent de sécurité incendie magasin
												</p>
												<div>
												</div>
											</div>
										</div>
										<div class="timeline-row">
											<div class="timeline-time">
												2014
											</div>
											<div class="timeline-dot green-four-bg"></div>
											<div class="timeline-content green-four">
												<i class="fa fa-user"></i>
												<h4>CQP APS</h4>
												<p class="no-margin">Agents de sécurité Magasin/Gardiennage/Evénementiel</p>
												<div>
												</div>
											</div>
										</div>
									</div>
									<!-- Timeline end -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			{########### Section Card Project ##############}

			<section id="section3">

				<h2 class="pt-2 pb-3">Projet</h2>
				<div class="row row-cols-1 row-cols-md-3 g-4 m-0 p-0">
					{% for project in projects %}
						<div class="col mb-2">
							<div class="card h-100 ">
								<div id="card-img">
									<img src="/uploads/images/{{project.img}}" class="card-img-top img-fluid" alt="...">
								</div>
								<div class="bg-blue card-body">
									<h4 class="card-title">{{project.title}}</h4>
									<p class="card-text">{{project.description}}</p>
								</div>
								<div class="bg-orange card-footer ">
									<a class="text-light" href="{{project.link}}">Lien GitHub</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</section>
			<h2 class="pt-2 pb-3">Contact</h2>
			<div
				id="back-img">
				<!--Section: FORM-->
				<section id="section4" class="p-0 m-0 container mx-auto">

					<!--Section heading-->
					<!--Section description-->
						<p class="text-orange siz-tex text-center w-responsive mx-auto mb-5 mt-5"> Avez-vous des questions? N'hésitez pas à me contacter directement. je me ferais un plaisir de repondre au plus vite.</p>

					<div
						class="d-flex">

						<!--Grid column-->
						<div class="col-md-9 mb-md-0 mb-5">
							<form
								id="contact-form" name="contact-form" action="/home" method="POST">

								<!--Grid row-->
								<div
									class="row">

									<!--Grid column-->
									<div class="col-md-6">
										<div class="md-form mb-4">
											<input type="text" id="name" name="name" class="form-control" placeholder="Nom">
										</div>
									</div>
									<!--Grid column-->

									<!--Grid column-->
									<div class="col-md-6">
										<div class="md-form mb-4">
											<input type="text" id="email" name="email" class="form-control" placeholder="EMAIL">

										</div>
									</div>
									<!--Grid column-->

								</div>
								<!--Grid row-->

								<!--Grid row-->
								<div class="row">
									<div class="col-md-12">
										<div class="md-form mb-4">
											<input type="text" id="subject" name="subject" class="form-control" placeholder="Sujet">
										</div>
									</div>
								</div>
								<!--Grid row-->

								<!--Grid row-->
								<div
									class="row">

									<!--Grid column-->
									<div class="col-md-12">

										<div class="md-form">
											<textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" placeholder="Votre message"></textarea>
										</div>

									</div>
								</div>
								<!--Grid row-->

							</form>

							<div class="text-center text-md-left">
								<a class="btn btn-primary mt-4 mb-4" onclick="document.getElementById('contact-form').submit();">Envoyer</a>
							</div>
							<div class="status"></div>
						</div>
						<!--Grid column-->

						<!--Grid column-->
						<div class="inf col-md-3 p-0 text-center">
							<ul class="list-unstyled mb-0">
								<li>
									<i class="fas fa-map-marker-alt fa-2x"></i>
									<div>
										<img class="img-center" src="/images/position.png" alt="position">
									</div>
									<p class="t-orange mt-3">310 avenue saint-Roch, 83790 PIGNANS</p>
								</li>

								<li>
									<i class="fas fa-phone mt-4 fa-2x"></i>
									<div>
										<img class="img-center" src="/images/tel.png" alt="tel">
									</div>
									<p class="t-orange mt-3">06-35-34-48-48</p>

								</li>

								<li>
									<i class="fas fa-envelope mt-4 fa-2x"></i>
									<div>
										<img class="img-center" src="/images/mail.png" alt="mail">
									</div>
									<p class="t-orange mt-3">gottavincent@gmail.com</p>

								</li>
							</ul>
						</div>
						<!--Grid column-->

					</div>
				</div>

			</section>
			<!--Section: Contact v.2-->
		</main>
		<footer>
			<p>copyright GOTTA Vincent 2022</p>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
	</body>
</html>
